<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <title>글 리스트</title>

    <link href="/public/semantic.min.css" rel="stylesheet">

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
            color: #000;
            background-color: #fff;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        span {
            color: #333;
        }

        #board_title {
            font-size: 1.2em;
            font-weight: bold;
            color: teal;
        }

    </style>


    <script src="/public/jquery-2.1.4.min.js"></script>
    <script src="/public/semantic.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>
        function listpost3(page, perPage) {
            document.location = '/process/listpost3?page=' + page + '&perPage=' + perPage;
        }
    </script>

</head>

<body>

    <div class="container">
        <br>

        <div class="ui raised segment">
            <a class="ui blue ribbon label">게시판</a>
            <span id="board_title">
                <%=title %></span>


            <div class="ui blue fluid card">
                <div class="content">

                    <table class="table table-striped">
                        <tr>
                            <th>No.</th>
                            <th>Title</th>
                            <th>Writer</th>
                            <th>Date</th>
                            
                        </tr>

                        <tr>
                            <%  var noStart = (pageCount - page) * perPage;
							
							    for (var i = 0; i < posts.length; i++) {
								   var curTitle = posts[i]._doc.title;
								   var curContents = posts[i]._doc.contents;
								   var curWriter = posts[i]._doc.writer.email;
								   var curNo = noStart - i-1;
								   var curDate = posts[i]._doc.created_at.toLocaleString();
                                  
                            %>
                            <td class="number">
                                <%=curNo %>
                            </td>
                            <td class="title"> 
                                <div onclick="javascript:window.location='/process/showpost3/<%=posts[i]._id %>'">           <%=curTitle %>
                                </div>                                
                            </td>
                            <td class="writer">
                                <%=curWriter %>
                            </td>
                            <td class="date">
                                <%=curDate %>
                            </td>
                            
                        </tr>
                        <% } %>
                
                    </table>

                    <br>

                    <div class="tiny ui basic buttons">
                        <%
					 			if (page > 0) {
					 		%>
                        <div class="ui icon button" onclick="listpost3(0, <%=perPage %>)">
                            <i class="backward icon"></i>
                        </div>
                        <div class="ui icon button" onclick="listpost3(<%=(page-1) %>, <%=perPage %>)">
                            <i class="left chevron icon"></i>
                        </div>
                        <%
					 			} else {
					 		%>
                        <div class="ui disabled icon button">
                            <i class="backward icon"></i>
                        </div>
                        <div class="ui disabled icon button">
                            <i class="left chevron icon"></i>
                        </div>
                        <%
					 			}
					 		%>
                        <% 
					 			var initial = Math.floor(page / 10) * 10;
					 			console.log('initial : ' + initial);
					 			
					 			var max = pageCount - initial;
					 			if (max > 10) {
					 				max = initial + 10;
					 			} else {
					 				max = initial + max;
					 			}
					 			console.log('max : ' + max);
					 			
					 			for (var i = initial; i < max; i++) {
					 				if (i != page) {
					 		%>
                        <div class="ui button" onclick="listpost3(<%=i %>, <%=perPage %>)">
                            <%= i+1 %>
                        </div>
                        <%
					 				} else {
					 		%>
                        <div class="ui active basic button">
                            <%= i+1 %>
                        </div>
                        <% 
					 				}
					 			}
					 		%>
                        <%
					 			if ((page+1) < pageCount) {
					 		%>
                        <div class="ui icon button" onclick="listpost3(<%=(page+1) %>, <%=perPage %>)">
                            <i class="right chevron icon"></i>
                        </div>
                        <div class="ui icon button" onclick="listpost3(<%=(pageCount-1) %>, <%=perPage %>)">
                            <i class="forward icon"></i>
                        </div>
                        <%
					 			} else {
					 		%>
                        <div class="ui disabled icon button">
                            <i class="right chevron icon"></i>
                        </div>
                        <div class="ui disabled icon button">
                            <i class="forward icon"></i>
                        </div>
                        <%
					 			}
					 		%>
                    </div>

                    <div class="btn_group">
                        <br><br>
                    <a class="ui button" href='/process/listpost3?page=0&perPage=2'>재요청</a>
                    <a class="ui button" href='/public/addpost3.html'>글쓰기</a>
                        
                    </div>

                    <br><br>


                </div>
            </div>
        </div>
    </div>

</body>

</html>
